*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    overflow: hidden;
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

.canvas-container
{
    margin: auto auto;
    border: 1px solid #ccc;
}

#buttons
{
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
}

#value_input_wrapper
{
    display: none;
    z-index: 100;
    position: absolute;
    top:300px;
    left:50%;
    margin-left:-100px;
}
#value_input_text
{
    margin: auto auto;
    width: 250px;
}

.uploader_wrapper
{
    display: none;
    z-index: 100;
    position: absolute;
    top:300px;
    left:50%;
    margin-left:-100px;
}
.uploader_text
{
    margin: auto auto;
    width: 250px;
}

input.mytextbox {
    background: white;
    border: 1px solid #ffa853;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #ffa853;
    color: #666;
    padding: 5px 10px;
    outline: none;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
        opacity: 0.3;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:16px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
        opacity:0.6;
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}
